Checks: "
  clang-diagnostic-*,
  llvm-*,
  misc-*,
  modernize-*,
  readability-*,
  performance-*,
  misc-*,
  bugprone-*,
  cert-*,
  -llvm-include-order,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  "
